@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap");
@import "_variables.scss";
@import "_mixins.scss";
@import "_extends.scss";

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: $fontSize2;
  color: $black;
  width: 100%;
  height: 100vh;
}
// header
.header {
  padding: 15px 50px;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background-color: $mainBgColor;
  &:hover {
    background-color: rgba($mainBgColor, 0.8);
  }
  & > * {
    display: flex;
    align-items: center;
  }
  .header__column {
    a {
      color: $white;
    }
    &:first-child a:hover {
      border: none;
    }
    .logo {
      img {
        width: 160px;
      }
    }
    & > li {
      margin: 0 20px;
      position: relative;
      @keyframes submenuOpacity {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      .submenu {
        display: none;
        position: absolute;
        top: 30px;
        left: -30px;
        padding: 30px;
        background-color: $white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        animation: submenuOpacity 0.35s ease-in-out;
        li {
          width: 120px;
          line-height: 1.5;
          &:hover {
            a {
              color: $black;
            }
          }
          a {
            color: $gray;
            font-size: $fontSize4;
            font-weight: 700;
          }
        }
      }
      & > a {
        padding: 20px 0;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &:nth-child(2) {
    }
    &:last-child {
      .submenu {
        left: -30px;
      }
      & > li:last-child {
        .submenu {
          left: -210px;
          form {
            display: flex;
            input,
            button {
              padding-bottom: 10px;
              border-bottom: 1px solid $black;
            }
            input {
              padding: 4px;
            }
            button {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .m-nav {
    display: none;
    .ham {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        position: relative;
        @extend %mNav;
        cursor: pointer;
        &::before,
        &::after {
          position: absolute;
          @extend %mNav;
          left: 0;
          bottom: 6px;
          content: "";
        }
        &::after {
          top: 6px;
        }
      }
    }
  }
}
// header javascript
.js-header__bg {
  background-color: rgba($mainBgColor, 0.8);
}
// main-banner
.main-banner {
  height: 100vh;
  .swiper-container {
    width: 100%;
    height: 100%;
    .swiper-wrapper {
      .swiper-slide {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-position: center;
      &::after {
        display: none;
      }
    }
    .swiper-button-prev {
      background-image: url(../../img/prev.png);
    }
    .swiper-button-next {
      background-image: url(../../img/next.png);
    }
    .swiper-pagination-bullet {
      width: 80px;
      height: 1px;
      border-radius: 0;
      background: $white;
    }
    .swiper-pagination-bullet-active {
      height: 3px;
    }
  }
}
// main-text
.main-text {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h3 {
    color: $color2;
    font-size: $fontSize2;
    letter-spacing: $letterSpacing;
  }
  h1 {
    font-family: $fontSerif;
    color: $color1;
    font-weight: bold;
    font-size: 32px;
    padding: 10px 0 20px;
    line-height: 30px;
  }
  p {
    color: $color3;
    font-size: 14px;
    line-height: 24px;
  }
}
// products
.products {
  @include sectionPadding();
  display: flex;
  justify-content: center;
  background-color: $subBgColor;
  .wrap {
    width: $innerWidth;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 10px 1fr 10px 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    & > * {
      &:first-child {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
      }
      &:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
      }
      &:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
      }
      &:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
      }
      &:nth-child(5) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
      }
      &:last-child {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
      }
    }
    article {
      position: relative;
      overflow: hidden;
      &:hover {
        background-color: #000;
      }
      &:hover img {
        opacity: 0.4;
        transform: translateX(0);
      }
      a {
        display: flex;
        width: calc(100% + 20px);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: translateX(-10px);
          transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
        }
        div {
          padding: 40px;
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;
          color: #fff;
          h2 {
            position: relative;
            overflow: hidden;
            font-size: 26px;
            word-spacing: 0.2em;
            &::after {
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 3px;
              background-color: #fff;
              content: "";
              transform: translateX(-100%);
              transition: transform 0.35s;
            }
          }
          h2,
          p {
            width: 100%;
            padding: 20px 0;
          }
          span,
          p {
            text-transform: uppercase;
          }
          span {
            font-weight: 900;
          }
          p {
            opacity: 0;
            font-size: $fontSize3;
            line-height: 1.5em;
            transform: translateX(100%);
            transition: opacity 0.35s, transform 0.35s;
          }
          &:hover h2::after,
          &:hover p {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }
  }
}
// wide-banner
.wide-banner {
  position: relative;
  display: flex;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .wide-banner__text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    h3 {
      font-size: $fontSize2;
      letter-spacing: $letterSpacing;
    }
    h1 {
      font-family: $fontSerif;
      font-size: 60px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 0 20px;
    }
    p {
      font-size: $fontSize3;
      padding-bottom: 50px;
    }
    a {
      color: $subBgColor;
      border: 1px solid $subBgColor;
      padding: 18px 45px;
      border-radius: 30px;
      font-size: 13px;
      text-transform: uppercase;
      transition: background-color 0.3s ease-in;
      &:hover {
        color: $color2;
        background-color: $subBgColor;
      }
    }
  }
}
// mid-banner
.mid-banner {
  @include sectionPadding();
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $subBgColor;
  .wrap {
    width: $innerWidth;
    display: grid;
    -ms-grid-columns: 1fr 80px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    gap: 80px;
    & > *:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    & > *:nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }
    .mid-banner__left {
      overflow: hidden;
      display: flex;
      justify-content: center;
      @extend %imgHoverScale;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      .swiper-wrapper {
        .swiper-slide {
          .thumbnail {
            width: 100%;
            img {
              width: 100%;
              object-fit: cover;
            }
          }
          .description {
            margin-top: 10px;
            text-align: center;
            cursor: pointer;
            p {
              width: 100%;
              padding-bottom: 10px;
              font-size: $fontSize3;
              &:hover {
                text-decoration: underline;
              }
            }
            strong {
              font-size: $fontSize3;
              font-weight: 700;
            }
          }
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        &::after {
          display: none;
        }
      }
      .swiper-button-prev {
        background-image: url(../../img/prev-black.png);
      }
      .swiper-button-next {
        background-image: url(../../img/next-black.png);
      }
      .swiper-pagination {
        padding-bottom: 30px;
      }
      .swiper-pagination-bullet {
        background: $color2;
      }
      .swiper-pagination-bullet-active {
        background: $mainBgColor;
      }
    }
  }
}
// issue
.issue {
  @include sectionPadding(70px 0);
  display: flex;
  justify-content: center;
  background-color: $subBgColor;
  .wrap {
    width: $innerWidth;
    h1 {
      text-align: center;
      font-family: $fontSerif;
      color: $color1;
      font-size: $fontSize1;
      font-weight: 900;
      margin-bottom: 70px;
    }
    .issue__contents {
      display: grid;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: 1fr 30px 1fr 30px 1fr;
      grid-template-rows: repeat(3, 1fr);
      gap: 30px;
      & > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
      }
      & > *:nth-child(2) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
      }
      & > *:nth-child(3) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
      }
      li {
        display: flex;
        background-color: $white;
        &:nth-child(2) {
          a {
            order: 1;
          }
        }
        a {
          overflow: hidden;
          width: 65%;
          @extend %imgHoverScale;
        }
        .description {
          width: 35%;
          padding: 60px 50px;
          h2 {
            font-size: 21px;
            font-weight: 900;
          }
          p {
            font-size: $fontSize4;
            line-height: 1.5;
            padding: 20px 0 40px;
          }
          a {
            font-size: $fontSize4;
            text-transform: uppercase;
            padding: 12px 40px;
            border: 1px solid $black;
            cursor: pointer;
            transition: background-color 0.35s ease-in-out;
            &:hover {
              color: $white;
              background-color: $black;
            }
          }
        }
      }
    }
  }
}
// footer
.footer {
  width: 100%;
  @include sectionPadding(50px);
  background-color: $mainBgColor;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      width: 20%;
      padding: 25px 0;
      color: $white;
      &:first-child {
        .logo {
          img {
            width: 170px;
          }
        }
      }
      &:nth-child(4),
      &:last-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      a {
        color: $white;
        &:hover {
          text-decoration: underline;
        }
      }
      h3,
      h2 {
        font-size: $fontSize2;
        font-weight: 700;
        padding-bottom: 15px;
      }
      h2 {
        font-size: 26px;
        padding-bottom: 40px;
      }
      p {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        span {
          font-size: 12px;
        }
      }
    }
  }
}

// mediaquery
@media screen and (max-width: 1240px) {
  .header {
    padding: 10px $mWrapPadding;
    .header__column {
      &:first-child {
        order: 1;
        width: 80%;
        display: flex;
        justify-content: center;
        .logo {
          img {
            width: 120px;
          }
        }
      }
      &:nth-child(3) {
        display: none;
      }
      &:last-child {
        order: 2;
        width: 10%;
        display: flex;
        justify-content: flex-end;
        li {
          display: none;
          &:nth-child(2) {
            display: block;
            margin: 0;
          }
        }
      }
    }
    .m-nav {
      width: 10%;
      display: block;
    }
  }
  .main-banner {
    .swiper-container {
      .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }
      .swiper-pagination-bullet-active {
        height: 8px;
      }
    }
  }
  .main-text {
    padding: 50px $mWrapPadding;
    h1 {
      font-size: 26px;
    }
  }
  .products {
    padding: $mWrapPadding;
    .wrap {
      width: 100%;
      display: block;
      article {
        margin-bottom: $mWrapPadding;
        &:last-child {
          margin-bottom: 0;
        }
        &:hover {
          background-color: none;
        }
        &:hover img {
          opacity: 1;
        }
        a {
          width: 100%;
          img {
            transform: translateX(0);
          }
          div {
            padding: $mWrapPadding;
            h2 {
              padding: 0 0 15px;
              font-size: 24px;
              &::after {
                transform: translateX(0);
                height: 2px;
              }
            }
            p {
              opacity: 1;
              transform: translateX(0);
              padding: 10px 0 0;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .wide-banner {
    height: 60vh;
    .wide-banner__text {
      padding: $mWrapPadding;
      a {
        border: none;
        color: $color2;
        background-color: $subBgColor;
      }
    }
  }
  .mid-banner {
    padding: $mWrapPadding;
    .wrap {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .mid-banner__left {
        display: none;
      }
      .swiper-container {
        border: none;
        .swiper-wrapper {
          .swiper-slide {
            margin-bottom: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .thumbnail {
              img {
                width: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
  .issue {
    padding: $mWrapPadding;
    background-color: $white;
    .wrap {
      h1 {
        margin: 30px 0;
        font-size: 26px;
      }
      .issue__contents {
        display: flex;
        flex-direction: column;
        li {
          flex-direction: column;
          a,
          .description {
            width: 100%;
          }
          .description {
            padding: 40px 20px;
          }
          &:nth-child(2) {
            a {
              order: 0;
            }
          }
        }
      }
    }
  }
  .footer {
    padding: $mWrapPadding;
    ul {
      flex-direction: column;
      text-align: center;
      li {
        width: 100%;
        padding: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        &:first-child {
          border-bottom: none;
          .logo {
            img {
              width: 140px;
            }
          }
        }
        h2 {
          padding-bottom: 10px;
        }
        &:nth-child(4),
        &:last-child {
          div {
            &:first-child {
              margin-bottom: 30px;
            }
          }
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .header {
    padding: 5px 10px;
    .header__column {
      &:first-child {
        .logo {
          img {
            width: 100px;
          }
        }
      }
      &:last-child {
        li {
          font-size: 12px;
        }
      }
    }
  }
  .main-banner {
    .swiper-container {
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
  }
  .main-text {
    padding: 30px $mWrapPadding;
    h1 {
      font-size: 18px;
      line-height: 22px;
      padding-bottom: 10px;
    }
    p {
      font-size: 12px;
      line-height: 18px;
    }
  }
  .products {
    padding: 10px;
    .wrap {
      article {
        margin-bottom: 10px;
        a {
          div {
            h2 {
              padding-bottom: 8px;
              font-size: 18px;
              &::after {
                height: 1px;
              }
            }
            p {
              opacity: 1;
              transform: translateX(0);
              padding-top: 8px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .wide-banner {
    .wide-banner__text {
      h1 {
        font-size: 40px;
      }
      p {
        font-size: 12px;
        padding-bottom: 25px;
      }
      a {
        padding: 16px 40px;
      }
    }
  }
  .mid-banner {
    .swiper-container {
      .description {
        p {
          line-height: 20px;
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
  }
  .issue {
    padding: 10px;
    .wrap {
      .issue__contents {
        li {
          .description {
            padding: 20px 5px;
            h2 {
              font-size: 18px;
            }
            p {
              font-size: 12px;
              padding: 10px 0 20px;
            }
            a {
              font-size: 12px;
              padding: 10px 30px;
            }
          }
        }
      }
    }
  }
  .footer {
    ul {
      li {
        &:first-child {
          .logo {
            img {
              width: 110px;
            }
          }
        }
        h2 {
          font-size: 21px;
        }
      }
    }
  }
}
